/* Space out content a bit */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  padding-bottom: 20px;
  /*background-color: orange;*/
  background-image:
    linear-gradient(
      to top right,
      #2DFCB7, #2D5EFC
    );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/********* Start custom styling *************/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Francois One';
  color: whitesmoke;
}

/* ----- Animation definitions ----- */
    /* ----- Table display animation ----- */
.reveal-animation.ng-enter {
  transition: 1.0s;
  opacity: 0;
}

.reveal-animation.ng-enter-stagger {
  transition-delay: 0.05s;
}

.reveal-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
    /* ----- End Table display animation----- */

.slide-animation {
  transition: 0.25s all ease-in;
}
.slide-animation.ng-hide {
  transform: translateX(-2000px);
  opacity: 0;
}
/* ----- Animation definitions ----- */

.pulse {
  -webkit-animation: pulseAnimation ease 0.25s;
  -webkit-animation-delay: 1s;
}
@-webkit-keyframes pulseAnimation {
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.shift-up-animation {
  transition: 0.45s all ease-in-out;
}
/*.shift-up-animation.ng-remove*/

/* ----- End Animation definitions ----- */

.pace-row.calculated {
  margin-top: 20%;
}

.input-group .start-time-input {
  float: right;
  width: 20%;
}

.run-btn-active {
  box-shadow: 0 0 10px -2px black;
  background-color: #4DD54D;
}

.pace-input {
  /*margin-top: 20px;
  margin-bottom: 20px;*/
}

.pace-row {
  margin-top: 33%;
}

.input-error, .input-error:focus {
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.6);
  border-color: red;
  color: red;
}

.error {
  color: red;
}

.stage {
  position: relative;
  height: 148px;
  transition: all 0.3s;
}

.stage.focused-on- {
  /*margin-top: -59px;*/
}

.distance-input-container,
.rate-input-container,
.duration-input-container {
  position: absolute;
  transition: all ease 0.3s;
}

.distance-input-container {
  top: 0px;
  left: 0%;
}

.rate-input-container {
  top: 0px;
  left: 33%;
}

.duration-input-container {
  top: 0px;
  left: 66%;
}

/* Distance is focused */
.stage.focused-on-distance .distance-input-container {
  top: 0px;
  width: 100%;
}
.stage.focused-on-distance .rate-input-container {
  top: 75px;
  opacity: 0.5;
  left: 17%;
}
.stage.focused-on-distance .duration-input-container {
  top: 75px;
  opacity: 0.5;
  left: 50%;
}

/* Rate is focused */
.stage.focused-on-rate .rate-input-container {
  top: 0px;
  width: 100%;
  left: 0%;
}
.stage.focused-on-rate .distance-input-container {
  top: 75px;
  opacity: 0.5;
  left: 17%;
}
.stage.focused-on-rate .duration-input-container {
  top: 75px;
  opacity: 0.5;
  left: 50%;
}

/* Duration is focused */
.stage.focused-on-duration .duration-input-container {
  top: 0px;
  width: 100%;
  left: 0%;
}
.stage.focused-on-duration .distance-input-container {
  top: 75px;
  opacity: 0.5;
  left: 17%;
}
.stage.focused-on-duration .rate-input-container {
  top: 75px;
  opacity: 0.5;
  left: 50%;
}

.splits-table{
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.75);
  border: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
.splits-checkbox{
  display: none;
}

.commit:hover {
  cursor: pointer;
  color: green;
}

.commit-valid {
  color: green;
}

.input-group-addon-valid {
  background-color: greenyellow;
}

.input-group-addon:hover {
  background-color: greenyellow;
}

.result-message {
  margin-top: 40px;
  margin-bottom: 40px;
  color: midnightblue;
}

.subtext {
  color: whitesmoke;
}

.logo {
  font-family: 'Lobster';
  font-size: 70px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 30px;
}

.logo-subtext {
  font-size: 20px;
  text-align: center;
}

.main-message {
  margin-bottom: 30px;
}

.run-btn {
  margin: 0 auto;
  display: block;
  width: 213px;
}

.reset-btn {
  position: absolute;
  right: 20px;
  top: 0;
}

.button-row {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

/* Smaller devices */
@media (max-width: 992px) {
  .logo {
    font-size: 50px;
    position: static;
    margin: 0;
  }

  .logo small {
    text-align: left;
    display: block;
  }

  .logo-subtext {
    font-size: 16px;
  }

  .main-message h1 {
    font-size: 26px;
  }

  .main-message h4 {
    font-size: 16px;
  }

  .pace-row {
    margin-top: 0;
  }

  .col-md-4 {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
  }

  .stage {
    height: 225px;
  }

  .distance-input-container,
  .rate-input-container,
  .duration-input-container {
    /*position: absolute;*/
    transition: all ease 0.3s;
  }

  /* Distance is focused */
  .stage.focused-on-distance .distance-input-container {
    top: 0px;
    width: 100%;
    position: absolute;
  }
  .stage.focused-on-distance .rate-input-container {
    top: 75px;
    opacity: 0.5;
    left: 0%;
    position: absolute;
  }
  .stage.focused-on-distance .duration-input-container {
    top: 150px;
    opacity: 0.5;
    left: 0%;
    position: absolute;
  }

  /* Rate is focused */
  .stage.focused-on-rate .rate-input-container {
    top: 0px;
    width: 100%;
    position: absolute;
  }
  .stage.focused-on-rate .distance-input-container {
    top: 75px;
    opacity: 0.5;
    left: 0%;
    position: absolute;
  }
  .stage.focused-on-rate .duration-input-container {
    top: 150px;
    opacity: 0.5;
    left: 0%;
    position: absolute;
  }

  /* Duration is focused */

  .stage.focused-on-duration .duration-input-container {
    top: 0px;
    width: 100%;
    position: absolute;
  }
  .stage.focused-on-duration .distance-input-container {
    top: 75px;
    opacity: 0.5;
    left: 0%;
    position: absolute;
  }
  .stage.focused-on-duration .rate-input-container {
    top: 150px;
    opacity: 0.5;
    left: 0%;
    position: absolute;
  }
}
