<div class="pace-row" ng-controller="MainCtrl">
  <div class="logo">Pacer
    <small class="logo-subtext">a running pace calculator</small>
  </div>
  <div class="choice text-center main-message">
    <h1>
      <strong>How will you run today?</strong>
      <h4>Fill out any 2 of the elements below</h4>
    </h1>
  </div>

  <form name="paceInputForm" ng-submit="runCalculation()">
    <div class="row focused-on-{{activeInput}} stage">
      <div class="col-md-4 distance-input-container">
        <div class="form-group">
          <label for="distance">Distance</label>
          <div ng-class="{'input-group': activeInput === 'distance'}">
            <input name="distance" type="text" class="form-control pace-input" placeholder="miles"
              ng-pattern=/^[0-9]*(\.[0-9]+)?$/
              ng-model="pacerVariables.distance.number"
              ng-change="paceValuesChanged('distance')"
              ng-disabled="pacerVariables.distance.isDisabled"
              ng-class="{'input-error': paceInputForm.distance.$invalid}"
              ng-focus="activeInput = 'distance'"
              ng-blur="activeInput=''">
            <span class="input-group-addon commit"
            ng-show="activeInput === 'distance'"
            ng-class="{ 'commit-valid': paceInputForm.distance.$valid &&
                                        paceInputForm.distance.$dirty &&
                                        paceInputForm.distance.$modelValue != '',
                        'input-group-addon-valid':  paceInputForm.distance.$valid &&
                                                    paceInputForm.distance.$dirty &&
                                                    paceInputForm.distance.$modelValue != ''}">
              <i class="fa fa-check"></i>
            </span>
          </div>
        </div>
        <span class="error" ng-show="paceInputForm.distance.$invalid">
          <small>Invalid distance!</small>
        </span>
      </div>
      <div class="col-md-4 rate-input-container">
        <div class="form-group">
          <label for="rate">Pace <small class="subtext">(mm:ss)</small></label>
          <div ng-class="{'input-group': activeInput === 'rate'}">
            <input name="rate" type="text" class="form-control pace-input" placeholder="mm:ss"
              ng-pattern=/^[0-5]?\d:[0-5]\d$/
              ng-model="pacerVariables.rate.number"
              ng-change="paceValuesChanged('rate')"
              ng-disabled="pacerVariables.rate.isDisabled"
              ng-class="{'input-error': paceInputForm.rate.$invalid}"
              ng-focus="activeInput = 'rate'"
              ng-blur="activeInput=''">
            <span class="input-group-addon commit"
            ng-show="activeInput === 'rate'"
            ng-class="{ 'commit-valid': paceInputForm.rate.$valid &&
                                        paceInputForm.rate.$dirty &&
                                        paceInputForm.rate.$modelValue != '',
                        'input-group-addon-valid':  paceInputForm.rate.$valid &&
                                                    paceInputForm.rate.$dirty &&
                                                    paceInputForm.rate.$modelValue != ''}">
              <i class="fa fa-check"></i>
            </span>
          </div>
          <span class="error" ng-show="paceInputForm.rate.$invalid">
          <small>Invalid Pace!</small>
        </span>
        </div>
      </div>
      <div class="col-md-4 duration-input-container">
        <div class="form-group">
          <label for="duration">Total Time <small class="subtext">(hh:mm:ss)</small></label>
          <div ng-class="{'input-group': activeInput === 'duration'}">
            <input name="duration" type="text" class="form-control pace-input" placeholder="hh:mm:ss"
              ng-pattern=/^(\d+:)?([0-5]\d):([0-5]\d)$/
              ng-model="pacerVariables.duration.number"
              ng-change="paceValuesChanged('duration')"
              ng-disabled="pacerVariables.duration.isDisabled"
              ng-class="{'input-error': paceInputForm.duration.$invalid}"
              ng-focus="activeInput = 'duration'"
              ng-blur="activeInput=''">
            <span class="input-group-addon commit"
            ng-show="activeInput === 'duration'"
            ng-class="{ 'commit-valid': paceInputForm.duration.$valid &&
                                        paceInputForm.duration.$dirty &&
                                        paceInputForm.duration.$modelValue != '',
                        'input-group-addon-valid':  paceInputForm.duration.$valid &&
                                                    paceInputForm.duration.$dirty &&
                                                    paceInputForm.duration.$modelValue != ''}">
              <i class="fa fa-check"></i>
            </span>
          </div>
          <span class="error" ng-show="paceInputForm.duration.$invalid">
            <small>Invalid duration!</small>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-success run-btn" type="submit" ng-disabled="disableCalculation">Run!</button>
      <button class="btn btn-default reset-btn pull-right" type="button" ng-click="reset()">Reset</button>
  </div>
  </form>

  <!-- <div class="well well-lg" ng-show="resultMessage"> -->
    <h4 class="text-center result-message">{{ resultMessage }}</h4>
    <!-- <h4>Distance: <small>{{ pacerVariables.distance.number }}</small></h4> -->
    <!-- <h4>Rate: <small>{{ pacerVariables.rate.number }}</small></h4> -->
    <!-- <h4>Duration: <small>{{ pacerVariables.duration.number }}</small></h4> -->
  <!-- </div> -->

  <!-- <div class="checkbox">
    <label><input type="checkbox" class="splits-checkbox" ng-model="showSplits" > Splits</label>
  </div> -->
  <div ng-show="showSplits" class="well well-sm splits-table">
    <table class="table table-striped table-condensed table-bordered">
        <tbody>
          <th>Mile</th>
          <th>Elapsed Time</th>
          <tr ng-repeat="split in splits">
            <td>{{ split.mile }}</td>
            <td>{{ split.elapsedTime }}</td>
          </tr>
        </tbody>
      </table>
  </div>

</div>
