<div class="row pace-row" ng-controller="MainCtrl">
  <div class="col-md-4">
        <form name="paceInputForm">
          <div class="form-group distance-input-container">
            <label for="distance">Distance</label>
            <input name="distance" type="text" class="form-control pace-input" placeholder="Distance" autofocus
              ng-pattern=/^[0-9]*(\.[0-9]+)?$/
              ng-model="pacerVariables.distance.number"
              ng-change="paceValuesChanged('distance')"
              ng-disabled="pacerVariables.distance.isDisabled"
              ng-class="{'input-error': paceInputForm.distance.$invalid}">
              <span class="error" ng-show="paceInputForm.distance.$invalid">
                <small>Invalid distance!</small>
              </span>
          </div>
            <!-- <p ng-show="paceInputForm.distance.$invalid && !paceInputForm.distance.$pristine">Not a number!</p> -->
          <!-- <span>Target rate <a href="#"><i class="fa fa-check-circle-o"></i></a></span> -->
          <div class="rate-input-container">
            <div class="form-group">
              <label for="rate">Pace</label>
              <input name="rate" type="text" class="form-control pace-input" placeholder="hh:mm:ss"
                ui-mask="99:H9:H9"
                ng-model="pacerVariables.rate.number" 
                ng-change="paceValuesChanged('rate')"
                ng-disabled="pacerVariables.rate.isDisabled">
            </div>
          </div>
          <!-- <span>Target duration <a href="#"><i class="fa fa-check-circle-o"></i></a></span> -->
          <div class="duration-input-container">
            <div class="form-group">
              <label for="duration">Duration</label>
              <input name="duration" type="text" class="form-control pace-input" placeholder="hh:mm:ss"
                ui-mask="99:H9:H9"
                ng-model="pacerVariables.duration.number"
                ng-change="paceValuesChanged('duration')"
                ng-disabled="pacerVariables.duration.isDisabled">
            </div>
          </div>
          <button class="btn btn-default" type="button" ng-click="reset()">Reset</button>
          <button class="btn btn-success pull-right" ng-click="runCalculation()" ng-disabled="disableCalculation">Run!</button>
        </form>
  </div>
  <div class="col-md-8">
    <div class="well well-lg">
      <p>{{ resultMessage }}</p>
      <h4>Distance: <small>{{ pacerVariables.distance.number }}</small></h4>
      <h4>Rate: <small>{{ pacerVariables.rate.number }}</small></h4>
      <h4>Duration: <small>{{ pacerVariables.duration.number }}</small></h4>
    </div>
  </div>
</div>
<table class="table table-striped table-hover table-condensed table-bordered">
    <tbody>
      <tr>
        <th>Mile</th>
        <th>Elapsed Time</th>
        <th>Split Time</th>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
      <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
      </tr>
    </tbody>
  </table>
