<div class="row pace-row" ng-controller="MainCtrl">
  <div class="col-md-4" style="border-right: 1px solid black; height: 100%">
    <div class="panel panel-default">
      <div class="panel-body">
        <form>
          <!-- <span>Target distance <a href="#"><i class="fa fa-check-circle-o fa-check-circle" ng-class=""></i></a></span> -->
          <input type="text" class="form-control pace-input" placeholder="Distance"
            ng-model="pacerVariables.distance.number"
            ng-change="paceValuesChanged('distance')"/>
          <!-- <span>Target rate <a href="#"><i class="fa fa-check-circle-o"></i></a></span> -->
          <input type="text" class="form-control pace-input" placeholder="hh:mm:ss"
            ui-mask="99:H9:H9"
            ng-model="pacerVariables.rate.number" 
            ng-change="paceValuesChanged('rate')">
          <!-- <span>Target duration <a href="#"><i class="fa fa-check-circle-o"></i></a></span> -->
          <input type="text" class="form-control pace-input" placeholder="hh:mm:ss"
            ui-mask="99:H9:H9"
            ng-model="pacerVariables.duration.number"
            ng-change="paceValuesChanged('duration')">
          <button class="btn btn-primary" type="button" ng-click="reset()">Reset</button>
          <button class="btn btn-success pull-right" ng-click="runCalculation()" ng-disabled="disableCalculation">Run!</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="well well-lg">
      <p>{{ resultMessage }}</p>
      <h4>Distance: <small>{{ pacerVariables.distance.number }}</small></h4>
      <h4>Rate: <small>{{ pacerVariables.rate.number }}</small></h4>
      <h4>Duration: <small>{{ pacerVariables.duration.number }}</small></h4>
    </div>
  </div>
</div>
